<html>
    <body>
        <h1> Order Management</h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Save">
        </form>
        
        <label>Name Contains</label>
        <input>
        <button>Search</button>
            
        <table border="1">
                <tr>
                    <th>Id</th>
                    <th>Customer</th>
                    <th>Date</th>
					<th>Items</th>
					<th>Action</th>
                    </tr>

                    {% for order in ordrs %}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.customer}}</td>
						<td>{{order.date}}</td>
						<td>{{ order.item.all|join:", " }}</td>
                        <td><button>View</button></td>
                    </tr>    
                    {% endfor %}
                     </table>
                     <button>Previous</button>
                    <label>1</label>
                    <button>Next</button>
            </body>
            </html>
        </body>
    </label>
</html>